body {
    background-image: url('dark-wood.jpg');
}
div {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    left: 50%;
    /* padding: auto; */
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.subscribe {
    position: absolute;
    width: 550px;
    height: 70px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-top: 120px;
    background-color: black;
}
.input {
    position: relative;
    width: 300px;
    border-radius: 10px;
    height: 45px;
    margin-top: 9px;
    margin-bottom: 15px;
    margin-left: 5%;
    display: inline-block;
}
.submit {
    position: absolute;
    width: 100px;
    height: 45px;
    display: inline-block;
    margin-top: -25px;
    border-radius: 10px;
    margin-left: 100px;
    background-color: blue;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 70px;
    color: rgb(220, 220, 220);
}
p {
    color:rgb(220, 220, 220);
    font-size: 18px;
    font-weight: bold;
 }
 .paragraph {
    margin-left: 55px;
    margin-bottom: 220px;
 }
 .paragraph1 {
    padding: 20px;
    margin-left: 20%;
 }
